<ion-card no-padding>
    <ion-card-header (click)="toggleAccordion()" no-padding>
        <ion-list no-padding>
            <ion-item color="primary">
                <button ion-button clear small icon-only item-right>
            <ion-icon color="light" [name]="icon"></ion-icon>
          </button> {{ title }}
            </ion-item>
        </ion-list>
    </ion-card-header>
    <ion-card-content #cc no-padding>

        <ion-list no-padding>
            <ion-item *ngFor="let item of items">
                <ion-label>{{ item }} </ion-label>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>